@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffff0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #bfabcb;
  height: 50px;
  width: 960px;
  padding: 0px 25px 0px 25px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: #60463b;
  font-weight: 400;
  font-size: 36px;
}

.btn-container {
  display: flex;
  gap: 15px;
}

.body {
  display: flex;
  height: calc(100vh - 50px);
  width: 960px;
}

.projects {
  flex: 1;
  box-sizing: border-box;
}

.proj-header {
  color: #60463b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  padding: 25px 0px 0px 25px;
}

.proj-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px 0px 28px;
}

.proj-title {
  color: #60463b;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.view {
  flex: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn {
  width: 80px;
  height: 30px;
  font-size: 16px;
  background-color: #fffff0;
  color: #60463b;
  box-sizing: border-box;
  border: 2px solid #60463b;
  font-family: 'Merriweather', serif;
  cursor: pointer;
}

#todo-title,
#edit-title {
  background-color: #fffff0;
  color: #60463b;
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  width: 550px;
}

#todo-title:focus,
#edit-title:focus {
  background: rgba(230, 192, 233, 0.2);
  outline: none;
  border-radius: 8px;
}

#todo-desc,
#edit-desc {
  background-color: #fffff0;
  color: #60463b;
  border: none;
  resize: none;
  width: 550px;
  height: 220px;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#todo-desc:focus,
#edit-desc:focus {
  background: rgba(230, 192, 233, 0.2);
  outline: none;
  border-radius: 8px;
}

#todo-priority,
#edit-priority {
  border: 2px solid #60463b;
  color: #60463b;
  background-color: #fffff0;
}

#todo-duedate,
#edit-duedate {
  background-color: #fffff0;
  color: #60463b;
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#todo-duedate:focus,
#edit-duedate:focus {
  outline: none;
  border-radius: 8px;
  background: rgba(230, 192, 233, 0.2);
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#todo-priority,
#edit-priority {
  background-color: #fffff0;
  color: #60463b;
  border: none;
  outline: none;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

label {
  color: #60463b;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

#todo-project,
#edit-project {
  background-color: #fffff0;
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  width: 550px;
}

#todo-project:focus,
#edit-project:focus {
  background: rgba(230, 192, 233, 0.2);
  outline: none;
  border-radius: 8px;
}

.todo-submit,
.save {
  width: 80px;
  height: 30px;
  font-size: 16px;
  background-color: #fffff0;
  color: #60463b;
  box-sizing: border-box;
  border: 2px solid #60463b;
  font-family: 'Merriweather', serif;
  cursor: pointer;
}

.add-todo,
.edit-todo {
  box-sizing: border-box;
  width: 600px;
  padding: 25px;
  height: 450px;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  z-index: 1;
  display: none;
}

.proj-todos {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: calc(100vh - 80px);
  display: none;
}

.proj-todo {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;
  cursor: pointer;
}

.proj-todo-title,
.proj-todo-date {
  color: #60463b;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.selected-todo {
  display: none;
  box-sizing: border-box;
  width: 600px;
  padding: 25px;
  height: 450px;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
}

.selected-todo-title {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  width: 550px;
  color: #60463b;
}

.selected-todo-description {
  color: #60463b;
  width: 550px;
  height: 220px;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.selected-todo-priority {
  color: #60463b;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.selected-todo-duedate {
  color: #60463b;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.edit,
.remove {
  width: 80px;
  height: 30px;
  font-size: 16px;
  background-color: #fffff0;
  color: #60463b;
  box-sizing: border-box;
  border: 2px solid #60463b;
  font-family: 'Merriweather', serif;
  cursor: pointer;
}